{% extends 'base.html.twig' %}

{% block title %}Create Server{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form  action="{{ path('api_servers_add') }}" method="post">
                    <h1 class="h3 mb-3 font-weight-normal">Create A New Server</h1>
                    <label for="inputAddress" class="sr-only">Address IP</label>
                    <input type="address" name="address" id="inputAddress" class="form-control" placeholder="Address" required autofocus>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
